* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-aboutus {
    background-color: #cdcdcd;
}


.aboutTitle {
    position: relative;
    padding-top: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: #737373;
    font-weight: bolder;
    font-size: x-large;
    font-family: sans-serif;
}

.aboutTitle h1{
    color: black;
}

.aboutSubtitle {
    color: #737373;
    margin-bottom: 2em;
    font-family: sans-serif;
}

.texts {
    padding: 1.8rem 5rem;
    text-align: justify;
}

.texts span {
    color: black;
}

.sobre-nos {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 2em;
}

.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.container2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.sobre-nos div img{
    width: 30%;
    border-radius: 20px;
    margin-right: 2em;
    margin-bottom: 2em;
}